.row
  .col-12
    %h1 = t("u_acc")
    %table.table
      %thead
        %tr
          %th = t("userna")
          %th = t("add")
          %th = t("actio")
      %tbody
        - @accounts.each do |account|
          %tr
            %td= account.username
            %td
              %code= account.address
            %td
              %a{href: edit_account_path(account.address)} = t("edit")
        - if @accounts.empty?
          %tr
            %td.text-center{colspan: 3}
              %p
                = t("notife")
              %a.mt-3.btn.btn-secondary{ href: new_account_path } = t("add_acc")